@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fafafa;
  font-family: Poppins, sans-serif;
}
body {
  background-color: #1e1e1e;
}
p,
textarea {
  line-height: 1.7;
}
a,
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
a:focus-visible,
input:focus-visible,
button:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 2px solid #7f57f1;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 15rem;
  padding-bottom: 15rem;
  position: relative;
}
.hero.full-height {
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hero:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.75;
  z-index: -1;
  width: 50%;
  min-width: 768px;
}
.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #3e3e3e;
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__text-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__text-wrapper {
    display: block;
  }
}
.hero__text-content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .hero__text-content {
    align-items: flex-start;
  }
}
.hero__text-content h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fafafa;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .hero__text-content h1 {
    font-size: 3rem;
    text-align: left;
  }
}
.hero__text-content p {
  text-align: center;
  font-size: 1rem;
  color: #fafafa;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .hero__text-content p {
    font-size: 1.25rem;
    text-align: left;
  }
}

.footer {
  display: flex;
  align-items: center;
  min-height: 5rem;
  width: 100%;
  background-color: #7f57f1;
  padding: 2rem 0;
}
.footer__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  position: relative;
  gap: 2rem;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
}
.footer__logo {
  font-size: 1.25rem;
  color: #1e1e1e;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
}
.footer__logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.25rem;
  background-color: #fafafa;
  transition: background-color 0.2s;
}
.footer__logo a:hover {
  background-color: #fafafacc;
}
.footer__logo a span {
  color: #7f57f1;
}
.footer__logo a img {
  width: 2.5rem;
  height: 2.5rem;
}
.footer__nav {
  display: flex;
}
.footer__nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__nav-list {
    flex-direction: row;
    gap: 0.5rem;
  }
}
.footer__nav-list li a {
  text-decoration: none;
  color: #fafafa;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}
.footer__nav-list li a:hover {
  background-color: #6d3fef;
}
.desktop-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  min-height: 5rem;
  width: 100%;
  background-color: #1e1e1e80;
  backdrop-filter: blur(0.5rem);
  border-bottom: 1px solid rgba(250, 250, 250, 0.05);
}
.desktop-navbar__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.desktop-navbar__logo {
  font-size: 1.25rem;
  color: #fafafa;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
}
.desktop-navbar__logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.25rem;
  transition: background-color 0.2s;
}
.desktop-navbar__logo a:hover {
  background-color: #2b2b2b;
}
.desktop-navbar__logo a img {
  width: 2.5rem;
  height: 2.5rem;
}
.desktop-navbar__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .desktop-navbar__nav {
    display: flex;
  }
}
.desktop-navbar__nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.desktop-navbar__nav-list li a {
  text-decoration: none;
  color: #fafafa;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}
.desktop-navbar__nav-list li a:hover {
  background-color: #2b2b2b;
}
.nav-burger {
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  display: block;
}
.nav-burger:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #7f57f1;
}
@media screen and (min-width: 768px) {
  .nav-burger {
    display: none;
  }
}
.nav-burger:hover {
  background-color: #2b2b2b;
}
.nav-burger.open div {
  background-color: transparent;
}
.nav-burger.open div:before {
  transform: rotate(135deg);
  top: 0;
}
.nav-burger.open div:after {
  transform: rotate(45deg);
  top: 0;
}
.nav-burger div {
  width: 18px;
  height: 3px;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease 0s;
}
.nav-burger div:before,
.nav-burger div:after {
  background-color: #fafafa;
  content: "";
  width: 18px;
  height: 3px;
  position: absolute;
  transition: all 0.2s ease 0s;
  left: 0;
}
.nav-burger div:before {
  top: 6px;
}
.nav-burger div:after {
  top: -6px;
}
.mobile-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  max-width: 16rem;
  position: absolute;
  top: 100%;
  right: 1rem;
  background-color: #3e3e3e;
  transform-origin: top right;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1rem) scale(0.95);
  transition: all 0.2s ease 0s;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }
}
.mobile-navbar.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
}
.mobile-navbar__nav-list {
  width: 100%;
  list-style: none;
}
.mobile-navbar__nav-list li a {
  text-decoration: none;
  padding: 0.75rem 1rem;
  display: block;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.mobile-navbar__nav-list li:last-child a {
  border-bottom: none;
}
.two-col-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.two-col-container__col {
  flex: 1;
}
.two-col-container__col .two-col-container__col__btn-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .two-col-container__col .two-col-container__col__btn-container {
    justify-content: flex-start;
    margin-top: 4rem;
  }
}
.two-col-container__col h2 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .two-col-container__col h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
}
.two-col-container__image-container {
  aspect-ratio: 16/9;
  background-color: #3e3e3e;
  position: relative;
}
.two-col-container__image-container img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .two-col-container__image-container {
    width: 100%;
    aspect-ratio: unset;
  }
}
@media screen and (min-width: 768px) {
  .two-col-container {
    flex-direction: row;
    gap: 3rem;
  }
  .two-col-container.reverse {
    flex-direction: row-reverse;
  }
}
.btn-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .btn-container {
    margin-top: 4rem;
  }
}
.bg-accent-dark {
  background-color: #29213f;
}
.bg-lighter {
  background-color: #2b2b2b;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.section {
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 6rem 0;
  }
}
.section__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem;
}
.grid-item {
  display: flex;
  flex-direction: column;
}
.grid-item__image-container {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  background-color: #3e3e3e;
}
.grid-item__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-item__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}
.cta-section:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.75;
  z-index: -1;
  width: 50%;
  min-width: 768px;
}
.cta-section__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #3e3e3e;
}
.cta-section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cta-section__text-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .cta-section__text-wrapper {
    display: block;
  }
}
.cta-section__btn-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: max-content;
}
.cta-section__text-content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .cta-section__text-content {
    align-items: flex-start;
  }
}
.cta-section__text-content h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fafafa;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .cta-section__text-content h1 {
    font-size: 3rem;
    text-align: left;
  }
}
.cta-section__text-content p {
  text-align: center;
  font-size: 1rem;
  color: #fafafa;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .cta-section__text-content p {
    font-size: 1.25rem;
    text-align: left;
  }
}
.question-group:not(:last-child) {
  margin-bottom: 2rem;
}
.question-group[data-open="true"] .question-group__answer {
  display: block;
}
.question-group[data-open="true"] .question-group__question {
  border-radius: 0.5rem 0.5rem 0 0;
}
.question-group__question {
  padding: 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: inherit;
  background-color: #313131;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  text-align: left;
}
.question-group__question:focus-visible {
  outline: 2px solid #7f57f1;
}
.question-group__answer {
  padding: 1rem;
  border-top: 1px solid rgba(250, 250, 250, 0.25);
  display: none;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #2c2c2c;
  text-align: left;
}
.question-group__answer > div > p {
  margin: 0;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 15rem;
  padding-bottom: 15rem;
  position: relative;
}
.hero.full-height {
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hero:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.75;
  z-index: -1;
  width: 50%;
  min-width: 768px;
}
.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #3e3e3e;
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__text-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__text-wrapper {
    display: block;
  }
}
.hero__text-content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .hero__text-content {
    align-items: flex-start;
  }
}
.hero__text-content h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fafafa;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .hero__text-content h1 {
    font-size: 3rem;
    text-align: left;
  }
}
.hero__text-content p {
  text-align: center;
  font-size: 1rem;
  color: #fafafa;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .hero__text-content p {
    font-size: 1.25rem;
    text-align: left;
  }
}
.section__heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  position: relative;
  text-align: start;
}
.section__heading:before {
  content: "";
  width: 2rem;
  height: 5px;
  border-radius: 0.25rem;
  position: absolute;
  top: -5px;
  left: 0;
  background: linear-gradient(
    to right,
    #7f57f1 0%,
    #7f57f1 25%,
    rgba(127, 87, 241, 0.75) 25%,
    rgba(127, 87, 241, 0.75) 50%,
    rgba(127, 87, 241, 0.5) 50%,
    rgba(127, 87, 241, 0.5) 75%,
    rgba(127, 87, 241, 0.25) 75%,
    rgba(127, 87, 241, 0.25) 100%
  );
}
@media screen and (min-width: 768px) {
  .section__heading {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .section__heading:before {
    width: 3rem;
    height: 6px;
  }
}
@media screen and (min-width: 1024px) {
  .section__heading {
    margin-bottom: 6rem;
  }
}
.btn {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  border-radius: 0.5rem;
  padding: 0.25rem 1.5rem;
  font-weight: 700;
  background-color: #3e3e3e;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: #4b4b4b;
}
.btn:active {
  background-color: #585858;
}
.btn.btn-primary {
  background-color: #7f57f1;
}
.btn.btn-primary:hover {
  background-color: #6d3fef;
}
.btn.btn-primary:active {
  background-color: #5b28ed;
}
